<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hubstaff bot</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" rel="stylesheet" type="text/css" />
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">TestProject</a>
</nav>
<main class="container">
    <div id="employeeTable" class="my-2">
        <div class="row text-center">
            <div class="form-group col-md-6">
                <div class="row">
                <select class="col-md-5 ml-4" v-model="selectedEmployees" @change="changeData" class="select-control" multiple>
                    <option disabled value="">Select employee</option>
                    <option v-for="user in employees['users']" :value="user['id']">{{ user['name'] }}</option>
                </select>
                <select class="col-md-5 ml-4" v-model="selectedProjects" @change="changeData" class="select-control" multiple>
                    <option disabled value="">Select project</option>
                    <option v-for="project in projects" :value="project['id']">{{ project['name'] }}</option>
                </select>
                </div>
                <div class="row text-center">
                    <button v-on:click="selectAllEmployees" class="col-md-5 ml-4 my-2">All Employees</button>
                    <button v-on:click="selectAllProjects" class="col-md-5 ml-4 my-2">All Projects</button>
                </div>
                <div class="row">
                    <input class="col-md-5 ml-4 my-2" type="email" id="email" v-model="email" placeholder="Fill in your email" v-bind:disabled="!Object.keys(data).length != 0">
                    <button class="col-md-5 ml-4 my-2" v-on:click="sendEmail" v-bind:disabled="!Object.keys(data).length != 0">Send results to email</button>
                </div>
                </div>
            <div class="form-group text-left col-md-5">
                <div class="col-md-12">
                    <div class="form">
                        <label for="start_date">Start date</label>
                        <vuejs-datepicker :disabled-dates="disabledDates" id="start_date" v-model="startDate" :monday-first="true" :format="dateFormatter" @input="changeData"></vuejs-datepicker>
                    </div>
                </div>
                <div class="col-md-12 my-4">
                    <div class="form">
                        <label for="end_date">Start date</label>
                        <vuejs-datepicker :disabled-dates="disabledDatesEnd" id="end_date" v-model="endDate" :monday-first="true" :format="dateFormatter" @input="changeData"></vuejs-datepicker>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="!Object.keys(data).length != 0" class="shadow border rounder p-4 text-center">
            <p>No result found, change your query.</p>
        </div>
        <div id="resultTable" class="shadow border rounded p-4" v-if="Object.keys(data).length != 0">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Employee</th>
                    <th scope="col" v-for="project in projects" v-if="projectsCondition(project)">{{project['name']}}</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(user_projects, user) in data">
                    <th scope="row">{{user}}</th>
                    <td v-for="project in projects" v-if="projectsCondition(project)">{{user_projects[project['name']]/3600 | round}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
<script src="https://unpkg.com/vuejs-datepicker"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script src="js/index.js"></script>
</body>
</html>